@model DeliveryVM

<table class="table table-dark table-striped">
    <tr>
        <th>
            Restaurant Name
        </th>
        <th>
            REstaurant Address
        </th>
    </tr>
    <tr>
        <td>
            @Model.RestaurantName
        </td>
        <td>
            @Model.RestaurantAddress
        </td>
    </tr>
</table>