@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-symbols-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-symbols-outlined"> notifications </span>
                <span class="material-symbols-outlined"> mail </span>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-white"><span class="material-symbols-outlined"> account_circle </span></button>
                </form>
            </div>
        </header>

        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined">inventory</span> Admin Dashboard
                </div>
                <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/Menus/Index" class="btn btn-dark bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined">dashboard</span> Menu
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Stock/Index" class="btn btn-dark bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined">fact_check</span> Stock
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Menus/Index" class="btn btn-dark bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined">dashboard</span> Promotions
                    </a>
                </li>
            </ul>

        </aside>

        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">Inventory</p>
            </div>

            <div class="card">
                <div class="card-inner">
                    <p class="text-primary">PRODUCTS</p>
                    <span class="material-symbols-outlined text-blue">inventory_2</span>
                </div>
                <span class="text-primary font-weight-bold"></span>
            </div>

            <div class="card">
                <div class="card-inner">
                    <p class="text-primary">PURCHASE ORDERS</p>
                    <span class="material-symbols-outlined text-orange">add_shopping_cart</span>
                </div>
                <span class="text-primary font-weight-bold"></span>
            </div>

            <div class="card">
                <div class="card-inner">
                    <p class="text-primary">SALES ORDERS</p>
                    <span class="material-symbols-outlined text-green">shopping_cart</span>
                </div>
                <span class="text-primary font-weight-bold"></span>
            </div>

            <div class="card">
                <div class="card-inner">
                    <p class="text-primary">INVENTORY ALERTS</p>
                    <span class="material-symbols-outlined text-red">notification_important</span>
                </div>
                <span class="text-primary font-weight-bold"></span>
            </div>

        </main>
    </div>

    <script src="/javascript/scripts.js"></script>
</body>
</html>
