@model Nonamii.Models.Inventory.Ingredient

<h1>Create</h1>

<h4>Ingredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitOfMeasure" class="control-label"></label>
                <select asp-for="UnitOfMeasure" class="form-control" asp-items="new SelectList(ViewBag.Options)">
                </select>
                <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
@* 
                <label asp-for="CollectOrDeliver"></label>
                <select asp-for="CollectOrDeliver" class="form-control" asp-items="new SelectList(ViewBag.Options)">
                </select> *@
            </div>
            <div class="form-group">
                <label asp-for="UnitOfMeasureValue" class="control-label"></label>
                <input asp-for="UnitOfMeasureValue" class="form-control" />
                <span asp-validation-for="UnitOfMeasureValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

