
@{
    ViewData["Title"] = "About";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Nonamii</title>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/AboutPage.css" />

</head>
<body>
	<div id="About_Page">

		<!-- ABOUT NAV -->
		<div id="Nonamii_fi">
			<span><a href="/Home/Landing">No</span><span style="color:rgba(52,51,49,1);">namii</a></span>
		</div>
		<div id="Group_3_fj">
			<div id="HOME_fk">
				<span><span><a asp-controller="Home" asp-action="Index">ORDER</a></span></span>
			</div>
			<div id="ABOUT_US_fm">
				<span><span><a asp-controller="Home" asp-action="About">ABOUT</a></span></span>
			</div>
			<div id="CONTACT_fn">
				<span><span><a asp-controller="Home" asp-action="Contact">CONTACT</a></span></span>
			</div>
		</div>
		<svg class="Rectangle_8_fo">
			<rect id="Rectangle_8_fo" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
			</rect>
		</svg>
		<div id="Sign_Up_fp">
			<span><a asp-area="Identity" asp-page="/Account/Register">Signup</a></span>
		</div>
		<svg class="Rectangle_12_fq">
			<rect id="Rectangle_12_fq" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
			</rect>
		</svg>
		<div id="Sign_In_fr">
			<span><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></span>
		</div>
		<img id="shopping-cart_fs" src="/Images/shopping-cart_fs.png">

		<svg class="Ellipse_2_ft">
			<ellipse id="Ellipse_2_ft" rx="200" ry="200" cx="200" cy="200">
			</ellipse>
		</svg>
		<img id="Untitled5_fu" src="/Images/Untitled5_fu.png">

		<div id="About_Us">
			<span>About</span><span style="color:rgba(248,159,13,1);"> Us</span>
		</div>
		<div id="Step_into_our_inviting_dining_">
			<span>Step into our inviting dining room, where the aroma of freshly prepared dishes mingles with the chatter of satisfied diners. Our warm and attentive staff are dedicated to ensuring that your dining experience is nothing short of exceptional, whether you're joining us for a romantic dinner for two or a lively gathering with friends and family.</span>
		</div>
		<svg class="Ellipse_5">
			<ellipse id="Ellipse_5" rx="200" ry="200" cx="200" cy="200">
			</ellipse>
		</svg>
		<img id="Untitled4_fy" src="/Images/Untitled4_fy.png">

		<div id="ITS_NOT_JUST_FOOD_ITS_AN_EXPER_fz">
			<span>IT'S NOT JUST FOOD, </span><span style="color:rgba(248,159,13,1);">IT'S AN EXPERIENCE</span>
		</div>
	</div>

	<script src="~/js/indes.js"></script>
</body>
</html>

