@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Us</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/ContactPage.css" />
</head>	
<body>
<div id="Contact_Page">
	<div id="Nonamii_f">
		<span><a href="/Home/Landing">No</span><span style="color:rgba(52,51,49,1);">namii</a></span>
	</div>
	<div id="Group_3_f">
		<div id="HOME_f">
			<span><a asp-action="Index">ORDER</a></span>
		</div>
		<div id="ABOUT_US_f">
			<span><a asp-action="About">ABOUT</a></span>
		</div>
		<div id="CONTACT_f">
			<span><a asp-action="Contact">CONTACT</a></span>
		</div>
	</div>
	<svg class="Rectangle_8_f">
		<rect id="Rectangle_8_f" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
		</rect>
	</svg>
	<div id="Sign_Up_f">
		<span><a asp-area="Identity" asp-page="/Account/Register">Signup</a></span>
	</div>
	<svg class="Rectangle_12_ga">
		<rect id="Rectangle_12_ga" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
		</rect>
	</svg>
	<div id="Sign_In_gb">
		<span><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></span>
	</div>
	<img id="shopping-cart_gc" src="/Images/shopping-cart_gc.png">
		
	<svg class="Ellipse_2_gd">
		<ellipse id="Ellipse_2_gd" rx="150" ry="150" cx="150" cy="150">
		</ellipse>
	</svg>
	<div id="Contact">
		<span>Contact</span>
	</div>
	<svg class="Ellipse_5_gf">
		<ellipse id="Ellipse_5_gf" rx="200" ry="200" cx="200" cy="200">
		</ellipse>
	</svg>
	<img id="Untitled6_gg" src="/Images/Untitled6_gg.png">
		
	<img id="Untitled2_gh" src="/Images/Untitled2_gh.png">
		
	<svg class="Rectangle_21">
		<rect id="Rectangle_21" rx="26.5" ry="26.5" x="0" y="0" width="375" height="53">
		</rect>
	</svg>
	<svg class="Rectangle_22">
		<rect id="Rectangle_22" rx="26.5" ry="26.5" x="0" y="0" width="432" height="53">
		</rect>
	</svg>
	<svg class="Rectangle_23">
		<rect id="Rectangle_23" rx="26.5" ry="26.5" x="0" y="0" width="527" height="53">
		</rect>
	</svg>
	<svg class="Rectangle_24">
		<rect id="Rectangle_24" rx="32" ry="32" x="0" y="0" width="664" height="222">
		</rect>
	</svg>
	<svg class="Rectangle_25">
		<rect id="Rectangle_25" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
		</rect>
	</svg>
	<div id="Name">
		<span>Name</span>
	</div>
	<div id="Phone_Number">
		<span>Phone Number</span>
	</div>
	<div id="Email">
		<span>Email</span>
	</div>
	<div id="Your_Message">
		<span>Your Message</span>
	</div>
	<div id="Send">
		<span>Send</span>
	</div>
	<div id="Contact_Us_ANYTIME">
		<span>Contact Us </span><span style="color:rgba(248,159,13,1);">ANYTIME</span>
	</div>
	<div id="ITS_NOT_JUST_FOOD_ITS_AN_EXPER_gt">
		<span>IT'S NOT JUST FOOD, </span><span style="color:rgba(248,159,13,1);">IT'S AN EXPERIENCE</span>
	</div>
</div>

	<script src="~/js/indes.js"></script>

</body>
</html>