@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nonamii</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/WelcomePage.css"/>
</head>
<body>
<div id="Welcome_Page">

	<!--BACKGROUND IMAGE-->
	<img id="pranjall-kumar-sejqj6Eaqe8-uns" src="/Images/pranjall-kumar-sejqj6Eaqe8-uns.png">

		<!--LOGO-->
	<svg class="Rectangle_28">
		<rect id="Rectangle_28" rx="0" ry="0" x="0" y="0" width="1920" height="1081">
		</rect>
	</svg>
	<div id="Nonamii">
		<span><a href="/Home/Index">No</span><span style="color:rgba(250,243,233,1);">namii</a></span>
	</div>

	<!-- HOME PAGE NAVBAR-->
	<div id="Group_3">
		<div id="HOME">
			<span><a asp-controller="Home" asp-action="Index">ORDER</a></span>
		</div>
		<div id="ABOUT_US">
			<span><a asp-controller="Home" asp-action="About">ABOUT US</a></span>
		</div>
		<div id="CONTACT">
			<span><a asp-controller="Home" asp-action="Contact">CONTACT</a></span>
		</div>
	</div>
	<div id="More">
		<span>More</span>
		</div>
		<svg class="Rectangle_12">
			<rect id="Rectangle_12" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
			</rect>
		</svg>
		<svg class="Rectangle_8">
			<rect id="Rectangle_8" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
			</rect>
		</svg>
	<div id="Sign_Up">
			<span><a asp-area="Identity" asp-page="/Account/Register">Signup</a></span>
	</div>
	<svg class="Rectangle_12">
		<rect id="Rectangle_12" rx="26.5" ry="26.5" x="0" y="0" width="111" height="53">
		</rect>
	</svg>
	<div id="Sign_In">
		<span><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></span>
	</div>
	<img id="shopping-cart" src="/Images/shopping-cart.png">
	

	<div id="Group_6">
		<div id="Group_2">
			<svg class="Rectangle_4">
				<rect id="Rectangle_4" rx="79" ry="79" x="0" y="0" width="269" height="293">
				</rect>
			</svg>
			<svg class="Rectangle_5">
				<rect id="Rectangle_5" rx="79" ry="79" x="0" y="0" width="269" height="293">
				</rect>
			</svg>
			<svg class="Rectangle_6">
				<rect id="Rectangle_6" rx="79" ry="79" x="0" y="0" width="269" height="293">
				</rect>
			</svg>
		</div>
		<svg class="Ellipse_2">
			<ellipse id="Ellipse_2" rx="100" ry="100" cx="100" cy="100">
			</ellipse>
		</svg>
		<svg class="Ellipse_3">
			<ellipse id="Ellipse_3" rx="100" ry="100" cx="100" cy="100">
			</ellipse>
		</svg>
		<svg class="Ellipse_4">
			<ellipse id="Ellipse_4" rx="100" ry="100" cx="100" cy="100">
			</ellipse>
		</svg>

			<img id="Untitled-1" src="/Images/Untitled-1.png">

			<img id="Untitled2" src="/Images/Untitled2.png">

			<img id="Untitled4" src="/Images/Untitled4.png">
			
		<div id="R25">
			<span>R25</span>
		</div>
		<div id="R60">
			<span>R60</span>
		</div>
		<svg class="Rectangle_7">
			<rect id="Rectangle_7" rx="26.5" ry="26.5" x="0" y="0" width="161" height="53">
			</rect>
		</svg>
		<div id="R75">
			<span>R75</span>
		</div>
		<div id="Loaded_Fries">
			<span>Maccaroni Stuffing</span>
		</div>
		<div id="Loaded_Fries_bk">
			<span>Still Maccaroni but Twisted</span>
		</div>
		<div id="Loaded_Fries_bl">
			<span>Well, this is Spaghetti</span>
		</div>
	</div>
	<div id="ITS_NOT_JUST_FOOD_ITS_AN_EXPER">
		<span>IT'S NOT JUST FOOD, </span><span style="color:rgba(248,159,13,1);">IT'S AN EXPERIENCE</span>
	</div>
		<img id="food_box_mockup_02" src="~/Images/food_box_mockup_02.png">
		
	<svg class="Rectangle_29">
		<rect id="Rectangle_29" rx="83" ry="83" x="0" y="0" width="432" height="500">
		</rect>
	</svg>
		<img id="payment" src="~/Images/payment.png">
		
	<div id="More_choice_is_important_to_us">
		<span>More choice is important to us. That's why ordering what you feel like is just as important as paying the way you feel like, simple and safe we have you covered.</span>
	</div>
	<div id="Pay_card_cash_eBucks_or_EFT_in">
		<span>Pay card</span><span style="color:rgba(250,243,233,1);">, cash, </span><span>eBucks </span><span style="color:rgba(250,243,233,1);">or EFT in-app.</span>
		</div>
	<div id="Order_Now_bx">
		<span><a href="/Home/Index">Order Now</a></span>
	</div>
	<svg class="Rectangle_30">
		<rect id="Rectangle_30" rx="26.5" ry="26.5" x="0" y="0" width="161" height="53">
		</rect>
	</svg>
	<div id="Order_Now_bz">
		<span><a href="/Home/Index">Order Now</a></span>
	</div>
	<div id="Group_8">
			<img id="Wavy_Tsp-03_Single-08" src="~/Images/Wavy_Tsp-03_Single-08.png">
			
		<div id="Track_Order">
			<span>Track</span><span style="color:rgba(248,159,13,1);"> Order</span>
		</div>
		<div id="From_when_the_chef_accepts_the">
			<span>From when the chef accepts the order to the time it arrives at your door.</span>
		</div>
		<svg class="Rectangle_31">
			<rect id="Rectangle_31" rx="26.5" ry="26.5" x="0" y="0" width="161" height="53">
			</rect>
		</svg>
		<div id="Order_Now_b">
				<span><a href="/Home/Index">Order Now</a></span>
		</div>
	</div>
	<svg class="Rectangle_37">
		<rect id="Rectangle_37" rx="0" ry="0" x="0" y="0" width="1920" height="1081">
		</rect>
	</svg>
	<svg class="Rectangle_34">
		<rect id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1920" height="1081">
		</rect>
	</svg>
	<div id="Become_a_Driver">
		<span>Become a </span><span style="color:rgba(248,159,13,1);">Driver</span>
	</div>
		<img id="Male_couriers_delivering_parce" src="~/Images/Male_couriers_delivering_parce.png">
		
	<div id="Work_full_or_flexi_hours_and_k">
		<span>Work full or flexi hours and keep 100% of all your tips.</span>
	</div>
	<svg class="Rectangle_32">
		<rect id="Rectangle_32" rx="26.5" ry="26.5" x="0" y="0" width="161" height="53">
		</rect>
	</svg>
	<div id="Apply_Now">
		<span>Apply Now</span>
	</div>
</div>


	<script src="~/js/indes.js"></script>

</body>
</html>