<div class="bg-success-subtle p-5 px-5">
    <p class="text-success-emphasis">Your refund will be processed within 3 - 5 business days.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>