@model Nonamii.Models.UserDetails.Address

@{
    ViewData["Title"] = "Card Details";
}

<h1>Card Details</h1>

<p>
    You don't have any Cards saved.
</p>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Card</a>
</p>
