@model Nonamii.Models.UserDetails.Address

@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>

<p>
    You don't have any address saved.
</p>
<p>
    <a asp-action="Create">Create New Address</a>
</p>
