@model Nonamii.Models.Inventory.RecipeIngredient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecipeIngredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeId" class="control-label"></label>
                <select asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId"></select>
                <span asp-validation-for="RecipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <select asp-for="IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
                <span asp-validation-for="IngredientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementId" class="control-label"></label>
                <select asp-for="MeasurementId" class="form-control" asp-items="ViewBag.MeasurementId"></select>
                <span asp-validation-for="MeasurementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amntValue" class="control-label"></label>
                <input asp-for="amntValue" class="form-control" />
                <span asp-validation-for="amntValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

