.mediaViewInfo {
	--web-view-name: Contact Page;
	--web-view-id: Contact_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Contact_Page;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Contact_Page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(241,241,241,1);
	overflow: hidden;
	--web-view-name: Contact Page;
	--web-view-id: Contact_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#Nonamii_f {
	left: 212px;
	top: 73px;
	position: absolute;
	overflow: visible;
	width: 243px;
	height: 80px;
	line-height: 76px;
	margin-top: -8px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(248,159,13,1);
	letter-spacing: -1.18px;
}
#Nonamii_f a {
	text-decoration: none;
	color: rgba(52,51,49,1);
}

#Group_3_f {
	position: absolute;
	width: 516px;
	height: 32px;
	left: 702px;
	top: 96px;
	overflow: visible;
}

#HOME_f {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
}
	#HOME_f a {
		text-decoration: none;
		color: rgba(52,51,49,1);
	}

/*#MENU_f {
	left: 122px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(52,51,49,1);
}*/

#ABOUT_US_f {
	left: 230px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}
	#ABOUT_US_f a {
		text-decoration: none;
		color: rgba(248,159,13,1);
	}

#CONTACT_f {
	left: 397px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
}
	#CONTACT_f a {
		text-decoration: none;
		color: rgba(52,51,49,1);
	}

#Rectangle_8_f {
	fill: rgba(248,159,13,1);
}

.Rectangle_8_f {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 53px;
	left: 1444px;
	top: 86px;
}

#Sign_Up_f {
	left: 1466px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: -1.18px;
}
#Sign_Up_f a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

#Rectangle_12_ga {
	fill: rgba(52,51,49,1);
}

.Rectangle_12_ga {
	display: none;
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 53px;
	left: 1568px;
	top: 86px;
}

#Sign_In_gb {
	left: 1590px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: -1.18px;
}
	#Sign_In_gb a {
		text-decoration: none;
		color: rgba(248,159,13,1);
	}

#shopping-cart_gc {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 1355px;
	top: 86px;
	overflow: visible;
}

#Ellipse_2_gd {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Ellipse_2_gd {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 300px;
	left: 133px;
	top: 305px;
}

#Contact {
	left: 839px;
	top: 225px;
	position: absolute;
	overflow: visible;
	width: 243px;
	height: 80px;
	line-height: 76px;
	margin-top: -8px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Ellipse_5_gf {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Ellipse_5_gf {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 400px;
	left: 1355px;
	top: 605px;
}

#Untitled6_gg {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 133px;
	top: 305px;
	overflow: visible;
}

#Untitled2_gh {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 1355px;
	top: 605px;
	overflow: visible;
}

#Rectangle_21 {
	fill: rgba(52,51,49,1);
}

.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 53px;
	left: 554px;
	top: 364px;
}

#Rectangle_22 {
	fill: rgba(248,159,13,1);
}

.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 432px;
	height: 53px;
	left: 554px;
	top: 476px;
}

#Rectangle_23 {
	fill: rgba(52,51,49,1);
}

.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 53px;
	left: 554px;
	top: 588px;
}

#Rectangle_24 {
	fill: rgba(248,159,13,1);
}

.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 664px;
	height: 222px;
	left: 554px;
	top: 700px;
}

#Rectangle_25 {
	fill: rgba(248,159,13,1);
}

.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 53px;
	left: 554px;
	top: 981px;
}

#Name {
	left: 577px;
	top: 332px;
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Phone_Number {
	left: 577px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 131px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Email {
	left: 579px;
	top: 556px;
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Your_Message {
	left: 580px;
	top: 668px;
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Send {
	left: 577px;
	top: 989px;
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 32px;
	line-height: 76px;
	margin-top: -26px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(52,51,49,1);
	letter-spacing: -1.18px;
}

#Contact_Us_ANYTIME {
	left: 88px;
	top: 641px;
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 155px;
	line-height: 76px;
	margin-top: -8px;
	text-align: center;
	font-family: Reross Quadratic;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(52,51,49,1);
}

#ITS_NOT_JUST_FOOD_ITS_AN_EXPER_gt {
	left: 1251px;
	top: 341px;
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 231px;
	line-height: 76px;
	margin-top: -8px;
	text-align: center;
	font-family: Reross Quadratic;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(52,51,49,1);
}
